main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox{
    width: 355px;
    height: 35px;

    background-image: url('../src/searchBar.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.inputBox input{
    width: 366px;
    height: 35px;
    outline: none;
    border: none;
    background: transparent;
    padding: 0 0 0 20px;
    font-size: 20px;
}

.guideWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.guideCharacter{
    width: 150px;
    object-fit: contain;
}

.guideTitle{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.guideText{
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.guideText li{
    margin-bottom: 5px;
}

.guideIcon{
    width: 15px;
    vertical-align: middle;
}

.guideIconAlign{
    vertical-align: baseline;
}

.startChat{
    margin-top: 0px;
    display: flex;
    width: 356px;
    height: 92px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    border: none;
    opacity: 0.95;
    color: white;
    background-color: var(--main-color);
    font-size: 24px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.calandar{
    margin-top: 45px;
}

nav{
    margin-top: 40px;
}

@media (max-width: 600px) {
    .startChat {
        width: calc(100vw - 16px) !important;
        max-width: 386px;
        white-space: nowrap;
        word-break: keep-all;
    }
}
